.grad {
  background: rgba(188, 39, 204, 0.7);
  background: linear-gradient(
    120deg,
    rgba(187, 39, 204, 0.7) 17%,
    rgba(121, 9, 73, 0.7) 28%,
    rgba(129, 32, 72, 0.7) 37%,
    rgba(135, 47, 68, 0.7) 48%,
    rgba(142, 59, 69, 0.7) 54%,
    rgba(255, 0, 27, 0.7) 97%
  );
  backdrop-filter: blur(10px);
}
.tc {
  text-align: center;
}
.f1 {
  font-size: 2rem;
  padding: 1rem;
}
.f2 {
  font-size: 4rem;
  padding: 1rem;
  color: rgb(218, 218, 218);
}
.backgimg {
  background-image: url('../assets/images/work.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.pad {
  padding: 4rem;
  color: rgb(218, 218, 218);
}
div.pad {
  transition: 0.4s;
}
div.pad:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px rgba(136, 136, 136, 0.4);
}
