.grad {
  background: rgb(188, 39, 204);
  background: linear-gradient(
    120deg,
    rgba(188, 39, 204, 0.7) 17%,
    rgba(121, 9, 73, 0.7) 28%,
    rgba(129, 32, 72, 0.7) 37%,
    rgba(135, 47, 68, 0.7) 48%,
    rgba(142, 59, 69, 0.7) 54%,
    rgba(255, 0, 27, 0.7) 97%
  );
}
.tc {
  text-align: center;
}
.f1 {
  font-size: 2rem;
  padding: 1rem;
}
.f2 {
  font-size: 4rem;
  padding: 1rem;
}
.backgimg {
  background-image: url('../assets/images/work.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
     backdrop-filter: blur(10px);
}
.pad {
  padding: 4rem;
}
.nocol {
  min-height: 40%;
  min-width: max-content;
}
